.tag {
  margin-right: 5px;
  margin-bottom: 5px;

  padding: 5px 7px;;
  border-radius: 5px;
  color: $white;
  background-color: lighten($grey-lighter, 15%);
  color: $primary;
  z-index: 100;
  font-size: 12px;

  &.small {
    font-size: 10px;
  }
}
