// navbar
.main-nav {
  nav {
    a {
      color: inherit;
      background-color: inherit;

      &:hover, &:focus, &.active {
        color: inherit;
        background-color: inherit;
      }
    }

    .navbar-item {
      .fa {
        margin-right: 5px;
      }
    }
  }
}

.navbar.is-primary {
  background-color: $primary;
  color: #fff;
}

.navbar.is-primary .navbar-brand > .navbar-item,
.navbar.is-primary .navbar-brand .navbar-link {
  color: #fff;
}

.navbar.is-primary .navbar-brand > .navbar-item:hover, .navbar.is-primary .navbar-brand > .navbar-item.is-active,
.navbar.is-primary .navbar-brand .navbar-link:hover,
.navbar.is-primary .navbar-brand .navbar-link.is-active {
  background-color: darken($primary, 10%);
  color: #fff;
}

.navbar.is-primary .navbar-brand .navbar-link::after {
  border-color: #fff;
}

@media screen and (min-width: 1024px) {
  .navbar.is-primary .navbar-start > .navbar-item,
  .navbar.is-primary .navbar-start .navbar-link,
  .navbar.is-primary .navbar-end > .navbar-item,
  .navbar.is-primary .navbar-end .navbar-link {
    color: #fff;
  }
  .navbar.is-primary .navbar-start > .navbar-item:hover, .navbar.is-primary .navbar-start > .navbar-item.is-active,
  .navbar.is-primary .navbar-start .navbar-link:hover,
  .navbar.is-primary .navbar-start .navbar-link.is-active,
  .navbar.is-primary .navbar-end > .navbar-item:hover,
  .navbar.is-primary .navbar-end > .navbar-item.is-active,
  .navbar.is-primary .navbar-end .navbar-link:hover,
  .navbar.is-primary .navbar-end .navbar-link.is-active {
    background-color: darken($primary, 10%);
    color: #fff;
  }
  .navbar.is-primary .navbar-start .navbar-link::after,
  .navbar.is-primary .navbar-end .navbar-link::after {
    border-color: #fff;
  }
  .navbar.is-primary .navbar-item.has-dropdown:hover .navbar-link,
  .navbar.is-primary .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: darken($primary, 10%);
    color: #fff;
  }
  .navbar.is-primary .navbar-dropdown .navbar-item.is-active {
    background-color: $primary;
    color: #fff;
  }
}
