.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .project-item {
    flex: 1 0 auto;
    margin-bottom: 20px;
    margin-right: 20px;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);

    .project-image {
      position: relative;
      border-radius: 4px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .tag-list {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($grey, 0.4);
      width: 100%;
      height: 100%;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      flex-direction: column;

      .tags {
        flex: 3;
        align-items: flex-end;
        display: flex;
      }

      .info {
        flex: 2;
        display:flex;
        align-items: center;
      }
    }

    &.hovered {
      .tag-list {
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
      }
    }

    .project-title {
      margin-bottom: 5px;
    }
    .project-description {
      margin-bottom: 5px;
    }
  }
}
