@import '../theme/variables.scss';
@import '../theme/index.scss';

.App {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15vh 5% 0;
  margin: 10px;
  height: calc(100vh - 20px);
  align-items: flex-start;
}

nav {
  &.menu {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 60px;
    border-right: 3px solid $primary;

    .nav-list {
      display: flex;
      flex-direction: column;
    }

    .nav-link {
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }

  &.bar {
    flex-direction: column;
    margin-bottom: 20px;
    display: flex;

    @media (min-width: 769px) {
      display: none;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
    }

    .nav-link {
      margin-bottom: 15px;
      margin-top: 15px;
    }

    .nav-item {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }

  .nav-link > a {
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 5px;
    color: inherit;
    padding-left: 2px;
    padding-right: 8px;

    &.active, &:hover, &:focus {
      color: $primary;
    }
  }

  .nav-item {
    flex: 1;
    padding-bottom: 15px;
    padding-top: 15px;
    a {
      font-size: 20px;
      margin-bottom: 5px;
      color: $grey-light;

      &.active, &:hover, &:focus {
        color: $primary;
      }
    }
  }
}


.nav-container {
  flex: 1;
  display: flex;
  @media (max-width: 768px) {
    display: none;
  }
  padding-left: 15px;
  padding-right: 15px;
}

.main-container {
  flex: 4;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;

  .main {
    display: flex;
    flex-direction: column
  }
}
