@import '../theme/variables.scss';

html {
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: darken($white, 2%);
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $family-sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

span {
  display: inline-flex;
}
