$family-sans-serif: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default

$grey-darker:  hsl(0, 0%, 21%) !default
$grey-dark:    hsl(0, 0%, 29%) !default
$grey:         hsl(0, 0%, 48%) !default
$grey-light:   hsl(0, 0%, 71%) !default
$grey-lighter: hsl(0, 0%, 86%) !default

$white: #fff;
// $primary: rgb(50, 115, 220);
// $primary: #38a8ff;
// $primary: rgb(55, 162, 255);
// $primary: rgb(20, 99, 168);
$primary: rgb(20, 86, 168);
